

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');




.bgImg{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: conver;
    background-position: center;
    background-repeat: no-repeat;
}

.dcc{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}


.dvdr{
    margin: 2rem 0;
}






.container {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(255, 255, 255);
}


.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #555;
}

.form-select {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #555;
}

.btn-primary {
    border-radius: 0;
    background-color: #e74c3c;
    border: none;
}

@media only screen and (max-width:600px) {
    .container {
        width: 90%;
        margin-top: 30px;
        position: absolute;
         left: 50%;
    top: 50%;
        padding-bottom: 40px;

        
    }
}